<head>
  <title>Cool messages</title>
</head>
 
<body>
	<nav class="navbar navbar-info shadow-z-1">
		<div class="container-fluid">
			<div class="navbar-header">				
				<a class="navbar-brand" href="#">Cool messages</a>				
			</div>			
		</div>		
	</nav>		
	<div class="container-fluid">
		<div class="container-fluid pull-left">
			<h6>{{> loginButtons}}</h6>
		</div>		
		{{#if currentUser}}
		<div class="container-fluid pull-left">
			{{> userProfile }}
		</div>
		{{/if}}
	</div>		
	{{#if currentUser}}
	<div class="container-fluid">			
		{{> messageList}}
	</div>
	{{/if}}
</body>
