<template name="message">
	<div class="row">		
		<div class="col-xs-6">
			<h5>{{ text }}</h5>
		</div> 				
		<div class="col-xs-2">
			<h6>{{ ownerName }}</h6>
		</div>
		<div class="col-xs-2">
			<h6>{{ formatDate createdAt }}</h6>
		</div>						
		<div class="col-xs-2">			
			<h6><strong class="text-info">{{ location }}</strong></h6>			
		</div>
	</div>	
</template>