<template name="userProfile">
	<h6 data-toggle="modal" data-target="#userProfileDialog">
		<a href="#">Profile</a>
	</h6>
	<div id="userProfileDialog" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form class="form-horizontal save-profile">
						<fieldset>
							<h3>Profile</h3>
							<div class="form-group">								
								<label for="inputEmail" class="col-xs-4 control-label">Email</label>								
								<div class="col-xs-8">
									<input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" value="{{ email }}" required readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="inputShowPasswordForm" class="col-xs-4 control-label">Change Password</label>
								<div class="col-xs-8 show-password-form">
									<input type="checkbox" checked="{{showPasswordForm}}" />						
								</div>
							</div>
							{{#if showPasswordForm}}
							<div class="form-group">
								<label for="inputOldPassword" class="col-xs-4 control-label">Old Password</label>
								<div class="col-xs-8">
									<input type="password" class="form-control" name="oldPassword" id="inputOldPassword" placeholder="Password" required>									
								</div>
							</div>
							<div class="form-group">
								<label for="inputNewPassword" class="col-xs-4 control-label">New Password</label>
								<div class="col-xs-8">
									<input type="password" class="form-control" name="newPassword" id="inputNewPassword" placeholder="Password" required>									
								</div>
							</div>		
							{{/if}}
							<div class="form-group">
								<label for="inputLocation" class="col-xs-4 control-label">Location</label>
								<div class="col-xs-8">
									<select id="inputLocation" name="location" required>
										<option></option> 
										{{#each locations}}
											<option value="{{ this._id.toHexString }}" {{ isSelected this._id.toHexString location }}>{{this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>	
							
							<div class="form-group">
								<label for="inputName" class="col-xs-4 control-label">Name</label>
								<div class="col-xs-8">
									<input type="text" class="form-control" name="name" id="inputName" placeholder="Name" value="{{ name }}" required>
								</div>
							</div>					
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-4">
									<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
									<button type="submit" class="btn btn-success">SAVE</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>