<template name="messageList">
	<div class="row-fluid">
		<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1  col-lg-8 col-lg-offset-2 well" style="height:500px; overflow-y: auto; overflow-x: hidden;">						
			
				{{#each messages}}
					{{> message}}
					<hr>
				{{/each}}
				
		</div>		
	</div> 	 
	<div class="row-fluid">
		<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1  col-lg-8 col-lg-offset-2 well">				
			<form class="form-horizontal new-message">											
				<input type="text" name="text" class="form-control" placeholder="Enter message text"/>										
			</form>				
		</div>
	</div>			
</template>
